@theme {
  --color-corpus-0: #e3f5f7;
  --color-corpus-1: #b3d5e2;
  --color-corpus-2: #76aec8;
  --color-corpus-3: #539bbf;
  --color-corpus-4: #4194bf;
  --color-corpus-5: #66f4fa;
  --color-corpus-6: #64e2fa;
  --color-corpus-7: #61c8f9;
  --color-corpus-8: #5dacfa;
  --color-corpus-9: #5a92f9;
  --color-corpus-10: #76ddff;
  --color-corpus-11: #4ecfe6;
  --color-corpus-12: #1abfc7;
  --color-corpus-13: #0ea8ac;
  --color-corpus-14: #129398;
  --color-corpus-15: #45c377;
  --color-corpus-16: #40b770;
  --color-corpus-17: #3aa566;
  --color-corpus-18: #34945a;
  --color-corpus-19: #2e8450;
  --color-corpus-20: #edd557;
  --color-corpus-21: #d2cd37;
  --color-corpus-22: #b0c40e;
  --color-corpus-23: #68c40f;
  --color-corpus-24: #1ac820;
  --color-corpus-25: #e6ff01;
  --color-corpus-26: #dbf301;
  --color-corpus-27: #cbe101;
  --color-corpus-28: #bacd01;
  --color-corpus-29: #a9bb01;
  --color-corpus-30: #f2d711;
  --color-corpus-31: #e4ca10;
  --color-corpus-32: #cdb60d;
  --color-corpus-33: #b6a10b;
  --color-corpus-34: #9f8d0a;
  --color-corpus-35: #fff37b;
  --color-corpus-36: #f6ea75;
  --color-corpus-37: #e8db6e;
  --color-corpus-38: #d7cc66;
  --color-corpus-39: #c8be5e;
  --color-corpus-40: #e9ba57;
  --color-corpus-41: #e1aa4b;
  --color-corpus-42: #d69238;
  --color-corpus-43: #c87825;
  --color-corpus-44: #bd6012;
  --color-corpus-45: #f9ae10;
  --color-corpus-46: #efa511;
  --color-corpus-47: #e19711;
  --color-corpus-48: #d08912;
  --color-corpus-49: #c17b13;
  --color-corpus-50: #dc491c;
  --color-corpus-51: #cb431a;
  --color-corpus-52: #b23b17;
  --color-corpus-53: #973113;
  --color-corpus-54: #7e2a0f;
  --color-corpus-55: #ed6846;
  --color-corpus-56: #e36140;
  --color-corpus-57: #d45736;
  --color-corpus-58: #c34a2d;
  --color-corpus-59: #b34023;
  --color-corpus-60: #fa6165;
  --color-corpus-61: #f05357;
  --color-corpus-62: #e23e43;
  --color-corpus-63: #d2272c;
  --color-corpus-64: #c31317;
  --color-corpus-65: #bea488;
  --color-corpus-66: #b59c81;
  --color-corpus-67: #a89178;
  --color-corpus-68: #98846d;
  --color-corpus-69: #8a7863;
  --color-corpus-70: #616161;
  --color-corpus-71: #585858;
  --color-corpus-72: #4a4a4b;
  --color-corpus-73: #3c3b3b;
  --color-corpus-74: #2e2e2d;
  --color-corpus-75: #5a5d68;
  --color-corpus-76: #535761;
  --color-corpus-77: #484e58;
  --color-corpus-78: #3d444d;
  --color-corpus-79: #323a44;
  --color-corpus-80: #798a7d;
  --color-corpus-81: #708074;
  --color-corpus-82: #617165;
  --color-corpus-83: #526055;
  --color-corpus-84: #435248;
  --color-corpus-85: #43316f;
  --color-corpus-86: #3c2c63;
  --color-corpus-87: #322453;
  --color-corpus-88: #271c41;
  --color-corpus-89: #1c142f;
}
