@theme {
  --color-grineer-0: #ffa339;
  --color-grineer-1: #ff982b;
  --color-grineer-2: #ff8d1e;
  --color-grineer-3: #ff8312;
  --color-grineer-4: #ff7b08;
  --color-grineer-5: #ffca6c;
  --color-grineer-6: #ffc261;
  --color-grineer-7: #ffb956;
  --color-grineer-8: #ffae48;
  --color-grineer-9: #ffa33a;
  --color-grineer-10: #b78427;
  --color-grineer-11: #b37b23;
  --color-grineer-12: #ae731f;
  --color-grineer-13: #aa6c1b;
  --color-grineer-14: #a86518;
  --color-grineer-15: #c7a136;
  --color-grineer-16: #c49b34;
  --color-grineer-17: #c1932f;
  --color-grineer-18: #bd8c2c;
  --color-grineer-19: #b78327;
  --color-grineer-20: #7e4226;
  --color-grineer-21: #733d24;
  --color-grineer-22: #693823;
  --color-grineer-23: #613421;
  --color-grineer-24: #5b3220;
  --color-grineer-25: #aa542c;
  --color-grineer-26: #a0502a;
  --color-grineer-27: #954c29;
  --color-grineer-28: #894627;
  --color-grineer-29: #7e4126;
  --color-grineer-30: #545d28;
  --color-grineer-31: #4b5426;
  --color-grineer-32: #454c24;
  --color-grineer-33: #3f4622;
  --color-grineer-34: #3a4121;
  --color-grineer-35: #738030;
  --color-grineer-36: #6c782e;
  --color-grineer-37: #646f2d;
  --color-grineer-38: #5b662a;
  --color-grineer-39: #535d27;
  --color-grineer-40: #789900;
  --color-grineer-41: #6b8700;
  --color-grineer-42: #5e7700;
  --color-grineer-43: #546b00;
  --color-grineer-44: #4c6100;
  --color-grineer-45: #9cc700;
  --color-grineer-46: #91ba00;
  --color-grineer-47: #84a800;
  --color-grineer-48: #789800;
  --color-grineer-49: #6b8800;
  --color-grineer-50: #22b0c4;
  --color-grineer-51: #1fa3b8;
  --color-grineer-52: #1d97ae;
  --color-grineer-53: #198ea6;
  --color-grineer-54: #1787a0;
  --color-grineer-55: #30e2f1;
  --color-grineer-56: #2dd7e7;
  --color-grineer-57: #29cadc;
  --color-grineer-58: #26bdd0;
  --color-grineer-59: #22afc4;
  --color-grineer-60: #418d87;
  --color-grineer-61: #3c7c75;
  --color-grineer-62: #386e65;
  --color-grineer-63: #346156;
  --color-grineer-64: #31594d;
  --color-grineer-65: #50b7b7;
  --color-grineer-66: #4caba9;
  --color-grineer-67: #489c99;
  --color-grineer-68: #418d87;
  --color-grineer-69: #3c7d75;
  --color-grineer-70: #6b7066;
  --color-grineer-71: #5f655e;
  --color-grineer-72: #545b56;
  --color-grineer-73: #4c5350;
  --color-grineer-74: #454d4b;
  --color-grineer-75: #9c9c88;
  --color-grineer-76: #919180;
  --color-grineer-77: #848778;
  --color-grineer-78: #777b6f;
  --color-grineer-79: #6b7066;
  --color-grineer-80: #504941;
  --color-grineer-81: #444039;
  --color-grineer-82: #393631;
  --color-grineer-83: #252521;
  --color-grineer-84: #1f201d;
  --color-grineer-85: #756a5e;
  --color-grineer-86: #6d6358;
  --color-grineer-87: #635a50;
  --color-grineer-88: #585148;
  --color-grineer-89: #4d4740;
}
