@theme {
  --color-infested-0: #208e01;
  --color-infested-1: #1c8600;
  --color-infested-2: #168000;
  --color-infested-3: #137a00;
  --color-infested-4: #0f7500;
  --color-infested-5: #30a600;
  --color-infested-6: #2b9e00;
  --color-infested-7: #269600;
  --color-infested-8: #208e00;
  --color-infested-9: #1b8600;
  --color-infested-10: #42c100;
  --color-infested-11: #3db800;
  --color-infested-12: #36af00;
  --color-infested-13: #30a700;
  --color-infested-14: #2b9e00;
  --color-infested-15: #53da00;
  --color-infested-16: #4dd200;
  --color-infested-17: #47ca00;
  --color-infested-18: #42c100;
  --color-infested-19: #3cb800;
  --color-infested-20: #61f000;
  --color-infested-21: #5de900;
  --color-infested-22: #58e200;
  --color-infested-23: #53da00;
  --color-infested-24: #4ed200;
  --color-infested-25: #69e40a;
  --color-infested-26: #7ec426;
  --color-infested-27: #9a9a4b;
  --color-infested-28: #b76d74;
  --color-infested-29: #d5419a;
  --color-infested-30: #de03c4;
  --color-infested-31: #e703c8;
  --color-infested-32: #f202cc;
  --color-infested-33: #f802cf;
  --color-infested-34: #ff01d2;
  --color-infested-35: #c905bb;
  --color-infested-36: #d504c0;
  --color-infested-37: #e003c4;
  --color-infested-38: #ea02c9;
  --color-infested-39: #f402cd;
  --color-infested-40: #9c08a7;
  --color-infested-41: #a907ae;
  --color-infested-42: #b606b3;
  --color-infested-43: #c206b9;
  --color-infested-44: #cf05bd;
  --color-infested-45: #860a9f;
  --color-infested-46: #9209a4;
  --color-infested-47: #9f08a9;
  --color-infested-48: #ac07af;
  --color-infested-49: #b907b5;
  --color-infested-50: #620d8f;
  --color-infested-51: #6b0d93;
  --color-infested-52: #750c97;
  --color-infested-53: #800a9c;
  --color-infested-54: #8c0aa1;
  --color-infested-55: #530c88;
  --color-infested-56: #480b83;
  --color-infested-57: #3d0a7e;
  --color-infested-58: #310978;
  --color-infested-59: #250872;
  --color-infested-60: #00057c;
  --color-infested-61: #000574;
  --color-infested-62: #00066c;
  --color-infested-63: #000665;
  --color-infested-64: #000660;
  --color-infested-65: #000599;
  --color-infested-66: #00058f;
  --color-infested-67: #000585;
  --color-infested-68: #00057d;
  --color-infested-69: #000674;
  --color-infested-70: #0004b8;
  --color-infested-71: #0004ad;
  --color-infested-72: #0005a3;
  --color-infested-73: #000598;
  --color-infested-74: #00058f;
  --color-infested-75: #0003d5;
  --color-infested-76: #0003cb;
  --color-infested-77: #0004c1;
  --color-infested-78: #0004b7;
  --color-infested-79: #0005ad;
  --color-infested-80: #0002ed;
  --color-infested-81: #0002e6;
  --color-infested-82: #0002de;
  --color-infested-83: #0003d4;
  --color-infested-84: #0003cc;
  --color-infested-85: #0105ff;
  --color-infested-86: #0c1eff;
  --color-infested-87: #1a40ff;
  --color-infested-88: #2a65ff;
  --color-infested-89: #3885ff;
}
