@theme {
  --color-narmer-0: #ede4d0;
  --color-narmer-1: #eedebb;
  --color-narmer-2: #eed6a6;
  --color-narmer-3: #eecf91;
  --color-narmer-4: #eec77b;
  --color-narmer-5: #eee2ca;
  --color-narmer-6: #eedbb4;
  --color-narmer-7: #eed49f;
  --color-narmer-8: #eecd8a;
  --color-narmer-9: #eec574;
  --color-narmer-10: #eee0c2;
  --color-narmer-11: #eed9ad;
  --color-narmer-12: #eed298;
  --color-narmer-13: #eeca82;
  --color-narmer-14: #edc16c;
  --color-narmer-15: #caa16d;
  --color-narmer-16: #ca995b;
  --color-narmer-17: #ca9249;
  --color-narmer-18: #ca8a36;
  --color-narmer-19: #c98224;
  --color-narmer-20: #ca9f67;
  --color-narmer-21: #ca9755;
  --color-narmer-22: #ca8f42;
  --color-narmer-23: #ca8730;
  --color-narmer-24: #c97f1e;
  --color-narmer-25: #ca9c61;
  --color-narmer-26: #ca944f;
  --color-narmer-27: #ca8c3c;
  --color-narmer-28: #c9842a;
  --color-narmer-29: #c97b18;
  --color-narmer-30: #614e4e;
  --color-narmer-31: #614645;
  --color-narmer-32: #613d3c;
  --color-narmer-33: #613533;
  --color-narmer-34: #612c2b;
  --color-narmer-35: #614b4b;
  --color-narmer-36: #614342;
  --color-narmer-37: #613a39;
  --color-narmer-38: #613230;
  --color-narmer-39: #612a28;
  --color-narmer-40: #614948;
  --color-narmer-41: #61403f;
  --color-narmer-42: #613836;
  --color-narmer-43: #612f2e;
  --color-narmer-44: #612725;
  --color-narmer-45: #bbb19c;
  --color-narmer-46: #bbae91;
  --color-narmer-47: #bbaa86;
  --color-narmer-48: #bba57b;
  --color-narmer-49: #bba170;
  --color-narmer-50: #bbb099;
  --color-narmer-51: #bbac8d;
  --color-narmer-52: #bba882;
  --color-narmer-53: #bba477;
  --color-narmer-54: #bba06c;
  --color-narmer-55: #bbaf95;
  --color-narmer-56: #bbab8a;
  --color-narmer-57: #bba67f;
  --color-narmer-58: #bba373;
  --color-narmer-59: #bb9e68;
  --color-narmer-60: #917c7c;
  --color-narmer-61: #7a6868;
  --color-narmer-62: #635555;
  --color-narmer-63: #4d4141;
  --color-narmer-64: #362e2e;
  --color-narmer-65: #8a7575;
  --color-narmer-66: #736262;
  --color-narmer-67: #5c4e4e;
  --color-narmer-68: #453b3b;
  --color-narmer-69: #2e2727;
  --color-narmer-70: #826f6f;
  --color-narmer-71: #6b5b5b;
  --color-narmer-72: #544848;
  --color-narmer-73: #3d3434;
  --color-narmer-74: #272121;
  --color-narmer-75: #e4d2a6;
  --color-narmer-76: #e4cb91;
  --color-narmer-77: #e4c47d;
  --color-narmer-78: #e4be68;
  --color-narmer-79: #e4b854;
  --color-narmer-80: #e4d09f;
  --color-narmer-81: #e4c98a;
  --color-narmer-82: #e4c276;
  --color-narmer-83: #e4bc62;
  --color-narmer-84: #e4b64d;
  --color-narmer-85: #e4cd98;
  --color-narmer-86: #e4c684;
  --color-narmer-87: #e4c06f;
  --color-narmer-88: #e4ba5b;
  --color-narmer-89: #e3b346;
}
