@theme {
  --color-orokin-0: #605d55;
  --color-orokin-1: #6a675d;
  --color-orokin-2: #76746a;
  --color-orokin-3: #858376;
  --color-orokin-4: #949283;
  --color-orokin-5: #6b685e;
  --color-orokin-6: #78756b;
  --color-orokin-7: #878477;
  --color-orokin-8: #959385;
  --color-orokin-9: #a2a091;
  --color-orokin-10: #b9a58d;
  --color-orokin-11: #bba790;
  --color-orokin-12: #bfac94;
  --color-orokin-13: #c4b19b;
  --color-orokin-14: #c9b5a1;
  --color-orokin-15: #bba78f;
  --color-orokin-16: #bfac94;
  --color-orokin-17: #c3b19a;
  --color-orokin-18: #c8b5a0;
  --color-orokin-19: #cdb9a5;
  --color-orokin-20: #9b9233;
  --color-orokin-21: #a79d3c;
  --color-orokin-22: #b6ac49;
  --color-orokin-23: #c9be56;
  --color-orokin-24: #dbd066;
  --color-orokin-25: #a69c3a;
  --color-orokin-26: #b4ab47;
  --color-orokin-27: #c7bc55;
  --color-orokin-28: #d9ce64;
  --color-orokin-29: #ebe073;
  --color-orokin-30: #ffd10b;
  --color-orokin-31: #fed422;
  --color-orokin-32: #fcd942;
  --color-orokin-33: #f9dd67;
  --color-orokin-34: #f7e48c;
  --color-orokin-35: #fed31e;
  --color-orokin-36: #fcd83e;
  --color-orokin-37: #fadd62;
  --color-orokin-38: #f7e288;
  --color-orokin-39: #f5e8ac;
  --color-orokin-40: #ffb90a;
  --color-orokin-41: #febe1a;
  --color-orokin-42: #fcc331;
  --color-orokin-43: #fac94a;
  --color-orokin-44: #f8ce65;
  --color-orokin-45: #ffbd17;
  --color-orokin-46: #fdc22e;
  --color-orokin-47: #fac847;
  --color-orokin-48: #f8ce62;
  --color-orokin-49: #f6d37b;
  --color-orokin-50: #efefda;
  --color-orokin-51: #f1f1df;
  --color-orokin-52: #f3f3e4;
  --color-orokin-53: #f7f5ec;
  --color-orokin-54: #fafaf1;
  --color-orokin-55: #f1f1de;
  --color-orokin-56: #f3f2e4;
  --color-orokin-57: #f5f5ea;
  --color-orokin-58: #f9f9f0;
  --color-orokin-59: #fcfcf7;
  --color-orokin-60: #55cadb;
  --color-orokin-61: #4dcfdf;
  --color-orokin-62: #42d3e4;
  --color-orokin-63: #37d9e9;
  --color-orokin-64: #2cdeef;
  --color-orokin-65: #50ccdd;
  --color-orokin-66: #46d1e1;
  --color-orokin-67: #3bd5e8;
  --color-orokin-68: #30dded;
  --color-orokin-69: #25e2f0;
  --color-orokin-70: #0bb7e5;
  --color-orokin-71: #18bce8;
  --color-orokin-72: #2ac5eb;
  --color-orokin-73: #3fceef;
  --color-orokin-74: #55d7f3;
  --color-orokin-75: #17bce7;
  --color-orokin-76: #28c4ea;
  --color-orokin-77: #3ccdef;
  --color-orokin-78: #53d5f2;
  --color-orokin-79: #67dff7;
  --color-orokin-80: #3b86be;
  --color-orokin-81: #2e9bc5;
  --color-orokin-82: #37afd2;
  --color-orokin-83: #2fc3dd;
  --color-orokin-84: #27d9e6;
  --color-orokin-85: #319fca;
  --color-orokin-86: #35b2d4;
  --color-orokin-87: #2ec8de;
  --color-orokin-88: #17e8ee;
  --color-orokin-89: #0ffff9;
}
